@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #ffffff;
  --primary-bg-btn: #e5e8e6;
  --secondary-btn-color: #333335;
  --text-primary-color: #1d1d1f;
  --bottom-bar-color: #0c0c0d;
  --text-secondary-color: #5d6e65;
  --text-third-color: #b2b2b2;
  --btn-hover: #8b9d93;
  --search-btn: #f5f5f5;
  --copyright: #808080;
  --bg-color: #f4f5f4;
}

body {
  font-family: "Alexandria", sans-serif;
}

.container-fluid {
  max-width: 1600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.devo-intro {
  margin-bottom: 90px;
  width: 100%;
  background-image: url(./assets/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.681);
  min-height: 100vh;
}
.devo-intro .nav-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.devo-intro .nav-content .mobile-menu {
  display: none;
}
.devo-intro .nav-content .mobile-menu .myicon1 {
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 111;
}
.devo-intro .nav-content .mobile-menu .myicon1 .icon1 {
  font-size: 20px;
  font-weight: bold;
}
.devo-intro .nav-content .mobile-menu .menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.devo-intro .nav-content .mobile-menu .menu .myicon2 {
  position: fixed;
  top: 30px;
  left: 25px;
  z-index: 111;
}
.devo-intro .nav-content .mobile-menu .menu .myicon2 .icon2 {
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
}
.devo-intro .nav-content .mobile-menu .menu .overlay {
  background-color: var(--btn-hover);
  transform: scale(0);
  top: -31px;
  left: 21px;
  width: 0px;
  height: 0px;
  position: fixed;
  z-index: 11;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.devo-intro .nav-content .mobile-menu .menu .my-list {
  transform: translateX(1240px);
  text-align: center;
  position: fixed;
  z-index: 11;
  line-height: 40px;
}
.devo-intro .nav-content .mobile-menu .menu .my-list li a {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}
.devo-intro .nav-content .mobile-menu .menu .my-list li a:hover {
  color: var(--hover-color);
}
.devo-intro .nav-content .mobile-menu .menu.active .overlay {
  transform: scale(20);
  width: 100px;
  height: 100px;
}
.devo-intro .nav-content .mobile-menu .menu.active .my-list {
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.devo-intro .nav-content .pages .pages-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
}
.devo-intro .nav-content .pages .pages-content .vl {
  border-left: 4px solid var(--text-secondary-color);
  height: 30px;
  border-radius: 5px;
}
.devo-intro .nav-content .pages .pages-content li .dropdown-menu li {
  margin: 0;
}
.devo-intro .nav-content .pages .pages-content li .dropdown-menu li .dropdown-item {
  color: var(--bottom-bar-color);
}
.devo-intro .nav-content .pages .pages-content li a {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.devo-intro .nav-content .pages .pages-content li a:hover {
  color: var(--btn-hover);
}
.devo-intro .nav-content .pages .pages-content :last-child button {
  color: var(--text-secondary-color);
  background-color: transparent;
  border: none;
}
.devo-intro .nav-content .pages .pages-content :last-child button:hover {
  color: var(--btn-hover);
}
.devo-intro .title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 260px 0px;
  color: var(--primary-color);
  -webkit-padding-end: 750px;
          padding-inline-end: 750px;
}
.devo-intro .title span {
  font-size: 12px;
}
.devo-intro .title button {
  background-color: var(--text-secondary-color);
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.devo-intro .title button:hover {
  background-color: var(--btn-hover);
}
.devo-intro .bottom-bar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.devo-intro .bottom-bar span {
  color: var(--primary-color);
  font-size: 12px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.devo-intro .bottom-bar i {
  color: var(--text-secondary-color);
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}
.devo-intro .bottom-bar i:hover {
  color: var(--btn-hover);
  cursor: pointer;
}

@media (max-width: 995px) {
  .devo-intro .nav-content {
    align-items: stretch;
  }
  .devo-intro .nav-content .pages {
    display: none;
  }
  .devo-intro .nav-content .mobile-menu {
    display: block;
  }
  .title h1 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .devo-intro .nav-content .logo img {
    height: 55px;
    width: 100%;
  }
  .devo-intro .nav-content .mobile-menu .menu .overlay {
    left: -15px;
  }
}
@media (max-width: 1100px) {
  .devo-intro {
    min-height: 80vh;
  }
  .devo-intro .title {
    padding: 60px 0px;
  }
}
.devo-about {
  margin-bottom: 90px;
}
.devo-about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-about .about-content .about-text {
  -webkit-padding-start: 100px;
          padding-inline-start: 100px;
  line-height: 35px;
}
.devo-about .about-content .about-text span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 50px;
}
.devo-about .about-content .about-text h3 {
  margin: 30px 0px;
  font-weight: 700;
}
.devo-about .about-content .about-text button {
  background-color: var(--text-secondary-color);
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.devo-about .about-content .about-text button:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 1024px) {
  .devo-about .about-content {
    flex-direction: column;
  }
  .devo-about .about-content img {
    margin-bottom: 20px;
  }
  .devo-about .about-content .about-text {
    padding: 0;
  }
}
.devo-fields {
  margin-bottom: 90px;
}
.devo-fields .fields-content {
  display: flex;
  justify-content: space-between;
}
.devo-fields .fields-content div {
  display: flex;
  align-items: center;
}
.devo-fields .fields-content div img {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.devo-fields .fields-content div div {
  font-weight: 700;
  font-size: 20px;
  -webkit-padding-end: 15px;
          padding-inline-end: 15px;
}

@media (max-width: 1024px) {
  .fields-content {
    flex-direction: column;
    -webkit-padding-start: 40px;
            padding-inline-start: 40px;
  }
  .fields-content div {
    margin-bottom: 30px;
  }
}
.devo-success {
  margin-bottom: 90px;
  background-image: url("./assets/Group 34.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.devo-success .success-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-success .success-content h3 {
  color: var(--primary-color);
  font-weight: 700;
}
.devo-success .success-content .myimgs {
  padding: 50px 0px;
}

@media (max-width: 1024px) {
  .devo-success .success-content {
    flex-direction: column;
  }
  .devo-success .success-content h3 {
    padding-top: 30px;
  }
}
.devo-products {
  margin-bottom: 90px;
}
.devo-products .title {
  text-align: center;
}
.devo-products .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-products .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-products .products-content {
  display: flex;
  justify-content: space-between;
}
.devo-products .products-content :nth-child(even) img {
  height: 350px;
}
.devo-products .products-content :nth-child(odd) img {
  height: 300px;
}
.devo-products .products-content .product-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 280px;
}
.devo-products .products-content .product-card img {
  width: 100%;
}
.devo-products .products-content .product-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-primary-color);
}
.devo-products .products-content .product-card div h5 {
  font-weight: 600;
}
.devo-products .products-content .product-card div span {
  margin-bottom: 30px;
}
.devo-products .products-content .product-card div a {
  color: var(--text-secondary-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.devo-products .products-content .product-card div a i {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.devo-products .products-content .product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1024px) {
  .devo-products .products-content {
    flex-direction: column;
    align-items: center;
  }
  .devo-products .products-content .product-card {
    margin-bottom: 30px;
  }
}
.devo-partners {
  margin-bottom: 90px;
}
.devo-partners .title {
  text-align: center;
}
.devo-partners .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-partners .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-partners .partners-content .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  align-content: center;
}
.devo-partners .partners-content .grid-container img {
  width: 100%;
}
.devo-partners .partners-content .grid-container .grid-item {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.devo-partners .partners-content .grid-container .grid-item:hover {
  filter: grayscale(0);
}

@media (max-width: 768px) {
  .devo-partners .partners-content .grid-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 570px) {
  .devo-partners .partners-content .grid-container {
    grid-template-columns: auto;
  }
}
.devo-blog {
  margin-bottom: 90px;
}
.devo-blog .title {
  text-align: center;
}
.devo-blog .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-blog .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-blog .blog-content div :nth-child(even) .blog-card img {
  height: 400px;
}
.devo-blog .blog-content .blog-card {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.devo-blog .blog-content .blog-card img {
  width: 100%;
}
.devo-blog .blog-content .blog-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-primary-color);
}
.devo-blog .blog-content .blog-card div h5 {
  font-weight: 600;
}
.devo-blog .blog-content .blog-card div span {
  margin-bottom: 30px;
}
.devo-blog .blog-content .blog-card div a {
  color: var(--text-secondary-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.devo-blog .blog-content .blog-card div a i {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.devo-blog .blog-content .blog-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.4s ease-in-out;
}

.footer {
  background-color: var(--text-primary-color);
  padding-top: 80px;
}
.footer .footer-content .single-footer {
  color: var(--primary-color);
}
.footer .footer-content .single-footer p {
  color: var(--text-third-color);
  font-size: 15px;
  -webkit-margin-end: 60px;
          margin-inline-end: 60px;
  line-height: 35px;
}
.footer .footer-content .single-footer .contacts {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  color: var(--text-third-color);
}
.footer .footer-content .single-footer .contacts .num {
  background-color: var(--secondary-btn-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 15px 17px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  text-align: center;
}
.footer .footer-content .single-footer .join-us {
  display: flex;
  flex-direction: column;
}
.footer .footer-content .single-footer .join-us input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-third-color);
  color: var(--primary-color);
  margin-bottom: 30px;
}
.footer .footer-content .single-footer .join-us input:focus-visible {
  outline: none;
}
.footer .footer-content .single-footer .join-us a {
  color: var(--primary-color);
}
.footer .footer-content .single-footer .join-us a i {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.footer .footer-content .single-footer .join-us a:hover {
  color: var(--text-third-color);
}
@media (max-width: 768px) {
  .footer .footer-content .single-footer {
    margin-bottom: 30px;
  }
}
.footer .copyright {
  background-color: var(--bottom-bar-color);
  margin-top: 70px;
  margin-bottom: 0;
  padding: 30px 0px;
  color: var(--copyright);
  font-size: 15px;
  text-align: center;
}
.footer .copyright span {
  color: var(--text-secondary-color);
}

.brief-intro {
  margin-bottom: 90px;
  width: 100%;
  background-image: url(./assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.brief-intro .nav-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.brief-intro .nav-content .mobile-menu {
  display: none;
}
.brief-intro .nav-content .mobile-menu .myicon1 {
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 111;
}
.brief-intro .nav-content .mobile-menu .myicon1 .icon1 {
  font-size: 20px;
  font-weight: bold;
}
.brief-intro .nav-content .mobile-menu .menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.brief-intro .nav-content .mobile-menu .menu .myicon2 {
  position: fixed;
  top: 30px;
  left: 25px;
  z-index: 111;
}
.brief-intro .nav-content .mobile-menu .menu .myicon2 .icon2 {
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
}
.brief-intro .nav-content .mobile-menu .menu .overlay {
  background-color: var(--btn-hover);
  transform: scale(0);
  top: -31px;
  left: 21px;
  width: 0px;
  height: 0px;
  position: fixed;
  z-index: 11;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.brief-intro .nav-content .mobile-menu .menu .my-list {
  transform: translateX(1240px);
  text-align: center;
  position: fixed;
  z-index: 11;
  line-height: 40px;
}
.brief-intro .nav-content .mobile-menu .menu .my-list li a {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}
.brief-intro .nav-content .mobile-menu .menu .my-list li a:hover {
  color: var(--hover-color);
}
.brief-intro .nav-content .mobile-menu .menu.active .overlay {
  transform: scale(20);
  width: 100px;
  height: 100px;
}
.brief-intro .nav-content .mobile-menu .menu.active .my-list {
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.brief-intro .nav-content .pages .pages-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
}
.brief-intro .nav-content .pages .pages-content .vl {
  border-left: 4px solid var(--text-secondary-color);
  height: 30px;
  border-radius: 5px;
}
.brief-intro .nav-content .pages .pages-content li .dropdown-menu li {
  margin: 0;
}
.brief-intro .nav-content .pages .pages-content li .dropdown-menu li .dropdown-item {
  color: var(--bottom-bar-color);
}
.brief-intro .nav-content .pages .pages-content li a {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.brief-intro .nav-content .pages .pages-content li a:hover {
  color: var(--btn-hover);
}
.brief-intro .nav-content .pages .pages-content :last-child button {
  color: var(--text-secondary-color);
  background-color: transparent;
  border: none;
}
.brief-intro .nav-content .pages .pages-content :last-child button:hover {
  color: var(--btn-hover);
}
.brief-intro .title {
  display: flex;
  flex-direction: column;
  padding: 150px 0px;
  color: var(--primary-color);
  -webkit-padding-end: 750px;
          padding-inline-end: 750px;
}
.brief-intro .title h1 {
  font-weight: 700;
}
.brief-intro .title .mybreadcrumb ol li a {
  color: var(--primary-color);
}
.brief-intro .title .mybreadcrumb ol .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
  color: var(--primary-color);
}
.brief-intro .title .mybreadcrumb ol .breadcrumb-item.active {
  color: var(--primary-color);
}
.brief-intro .bottom-bar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.brief-intro .bottom-bar span {
  color: var(--primary-color);
  font-size: 12px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.brief-intro .bottom-bar i {
  color: var(--text-secondary-color);
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}
.brief-intro .bottom-bar i:hover {
  color: var(--btn-hover);
  cursor: pointer;
}

@media (max-width: 995px) {
  .brief-intro .nav-content {
    align-items: stretch;
  }
  .brief-intro .nav-content .pages {
    display: none;
  }
  .brief-intro .nav-content .mobile-menu {
    display: block;
  }
  .title h1 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .brief-intro .nav-content .logo img {
    height: 55px;
    width: 100%;
  }
  .brief-intro .nav-content .mobile-menu .menu .overlay {
    left: -15px;
  }
}
@media (max-width: 1000px) {
  .brief-intro .title {
    padding: 100px 0px;
  }
}
.devo-brief {
  margin-bottom: 90px;
}
.devo-brief .brief-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-brief .brief-content .brief-text {
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
  line-height: 35px;
}
.devo-brief .brief-content .brief-text span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .devo-brief .brief-content {
    flex-direction: column;
  }
  .devo-brief .brief-content img {
    margin-bottom: 20px;
  }
  .devo-brief .brief-content .brief-text {
    padding: 0;
  }
}
.devo-value {
  margin-bottom: 90px;
}
.devo-value .value-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devo-value .value-content .value-text {
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
  line-height: 35px;
}
.devo-value .value-content .value-text h3 {
  margin-bottom: 60px;
  font-weight: 700;
}
.devo-value .value-content .value-text span {
  color: var(--text-secondary-color);
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
}
.devo-value .value-content .value-text p {
  margin-top: 20px;
}
.devo-value .value-content .value-text button {
  background-color: var(--text-secondary-color);
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.devo-value .value-content .value-text button:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 1024px) {
  .devo-value .value-content {
    flex-direction: column;
    align-items: center;
  }
  .devo-value .value-content img {
    margin-bottom: 20px;
  }
  .devo-value .value-content .value-text {
    padding: 0;
  }
}
.devo-certificats {
  margin-bottom: 90px;
}
.devo-certificats .title {
  text-align: center;
}
.devo-certificats .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-certificats .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-certificats .certificats-content .mySwiper {
  padding-bottom: 100px;
  position: relative;
}
.devo-certificats .certificats-content .mySwiper .swiper-wrapper {
  width: 100%;
}
.devo-certificats .certificats-content .mySwiper .swiper-slide {
  text-align: center;
  width: auto;
}
.devo-certificats .certificats-content .mySwiper .swiper-slide img {
  margin-bottom: 20px;
}
.devo-certificats .certificats-content .mySwiper .swiper-slide h4 {
  font-weight: 700;
}
.devo-certificats .certificats-content .mySwiper .swiper-button-next,
.devo-certificats .certificats-content .mySwiper .swiper-button-prev {
  position: absolute;
  top: 700px;
  color: var(--primary-color);
  padding: 25px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
}
.devo-certificats .certificats-content .mySwiper .swiper-button-prev:after,
.devo-certificats .certificats-content .mySwiper .swiper-button-next:after {
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 920px) {
  .devo-certificats .certificats-content .mySwiper {
    padding-bottom: 100px;
  }
  .devo-certificats .certificats-content .mySwiper .swiper-slide {
    width: 100%;
  }
  .devo-certificats .certificats-content .mySwiper .swiper-slide img {
    width: 100%;
  }
  .devo-certificats .certificats-content .mySwiper .swiper-button-next,
  .devo-certificats .certificats-content .mySwiper .swiper-button-prev {
    top: 630px;
  }
}
@media (max-width: 750px) {
  .devo-certificats .certificats-content .mySwiper .swiper-button-next,
  .devo-certificats .certificats-content .mySwiper .swiper-button-prev {
    top: 520px;
  }
}
@media (max-width: 600px) {
  .devo-certificats .certificats-content .mySwiper .swiper-button-next,
  .devo-certificats .certificats-content .mySwiper .swiper-button-prev {
    top: 355px;
  }
}
.devo-managers {
  margin-bottom: 90px;
}
.devo-managers .manager-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.devo-managers .manager-card img {
  margin-bottom: 30px;
}
.devo-managers .manager-card h6 {
  font-weight: 700;
}
.devo-managers .manager-card span {
  color: var(--text-secondary-color);
}

.mytimeline .block {
  z-index: 1;
  position: relative;
}
.mytimeline .block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  right: 29px;
  border: 1px dashed var(--text-secondary-color);
  margin-top: 70px;
}
.mytimeline .block .title {
  font-weight: 700;
  color: var(--text-secondary-color);
  font-size: 30px;
}
.mytimeline .block .each-event {
  -webkit-padding-start: 80px;
          padding-inline-start: 80px;
  margin: 150px 0;
  position: relative;
}
.mytimeline .block .each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  right: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
}
.mytimeline .block .each-event .event-description {
  margin-bottom: 30px;
  line-height: 35px;
}
.mytimeline .block .each-event div img {
  padding: 10px;
}

@media (max-width: 700px) {
  .mytimeline .block .each-event {
    -webkit-padding-start: 55px;
            padding-inline-start: 55px;
    margin: 120px 0;
  }
  .mytimeline .block .each-event div {
    text-align: center;
  }
}
.devo-search {
  margin-bottom: 90px;
}
.devo-search .search-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.devo-search .search-content span {
  font-weight: 600;
  font-size: 22px;
}
.devo-search .search-content input {
  border: none;
  background-color: var(--search-btn);
  width: 600px;
  padding: 15px;
  border-radius: 50px;
}
.devo-search .search-content input:focus-visible {
  outline: none;
}
.devo-search .search-content button {
  background-color: var(--text-secondary-color);
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.devo-search .search-content button i {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.devo-search .search-content button:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 1000px) {
  .devo-search .search-content {
    flex-direction: column;
    justify-content: space-between;
  }
  .devo-search .search-content input {
    width: 100%;
    margin: 20px 0px;
  }
}
.devo-companies {
  margin-bottom: 90px;
}
.devo-companies .companies-content .companies-text {
  line-height: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.devo-companies .companies-content .companies-text h3 {
  margin-bottom: 40px;
  font-weight: 700;
}
.devo-companies .companies-content .companies-text button {
  background-color: var(--text-secondary-color);
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 15px;
  color: var(--primary-color);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.devo-companies .companies-content .companies-text button i {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.devo-companies .companies-content .companies-text button:hover {
  background-color: var(--btn-hover);
}
.devo-companies .companies-content .companies-img {
  text-align: end;
}
.devo-companies .companies-content .companies-img img {
  height: 550px;
}

@media (max-width: 1000px) {
  .devo-companies .companies-content .companies-img {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .devo-companies .companies-content .companies-img img {
    height: auto;
  }
}
.pages-count {
  margin-bottom: 90px;
}
.pages-count .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages-count .pagination div {
  color: var(--text-secondary-color);
  font-weight: 600;
  font-size: 20px;
}
.pages-count .pagination :nth-child(2) a {
  color: var(--bottom-bar-color);
}
.pages-count .pagination :nth-child(2) a.active {
  color: var(--text-secondary-color);
  background-color: var(--text-secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 12px 17px;
  text-align: center;
  margin: 15px;
}

.devo-article {
  margin-bottom: 90px;
}
.devo-article .article-content .article-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
}
.devo-article .article-content .article-text h3 {
  margin-bottom: 30px;
}
.devo-article .article-content .article-text span {
  margin-bottom: 40px;
}
.devo-article .article-content .article-text span i {
  color: var(--text-secondary-color);
}

.devo-download {
  margin-bottom: 90px;
}
.devo-download .download-content {
  background-image: url(./assets/Rectangle\ 41.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(150, 150, 150, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}
.devo-download .download-content h3 {
  color: var(--primary-color);
}
.devo-download .download-content div {
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
  border-radius: 50px;
  padding: 20px 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.devo-download .download-content div i {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

@media (max-width: 1000px) {
  .devo-download .download-content {
    flex-direction: column;
    text-align: center;
  }
  .devo-download .download-content h3 {
    margin-bottom: 20px;
  }
  .devo-download .download-content div {
    padding: 15px 20px;
  }
}
.devo-product-swiper {
  margin-bottom: 90px;
}
.devo-product-swiper .title {
  text-align: center;
}
.devo-product-swiper .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-product-swiper .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-product-swiper .product-swiper-content .mySwiper {
  position: relative;
  padding-bottom: 110px;
}
.devo-product-swiper .product-swiper-content .mySwiper img {
  width: 100%;
}
.devo-product-swiper .product-swiper-content .mySwiper .swiper-button-next,
.devo-product-swiper .product-swiper-content .mySwiper .swiper-button-prev {
  position: absolute;
  top: 490px;
  color: var(--primary-color);
  padding: 25px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
}
.devo-product-swiper .product-swiper-content .mySwiper .swiper-button-prev:after,
.devo-product-swiper .product-swiper-content .mySwiper .swiper-button-next:after {
  font-size: 25px;
  font-weight: 700;
}

.devo-map {
  margin-bottom: 90px;
}
.devo-map .title {
  text-align: center;
}
.devo-map .title span {
  background-color: var(--primary-bg-btn);
  color: var(--text-secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.devo-map .title h3 {
  font-weight: 700;
  margin: 40px 0px;
}
.devo-map .map-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.devo-map .map-content .map-img {
  flex: 1;
}
.devo-map .map-content .map-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-padding-start: 100px;
          padding-inline-start: 100px;
}
.devo-map .map-content .map-text div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.devo-map .map-content .map-text div :nth-child(1) {
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .devo-map .map-content {
    flex-direction: column;
  }
  .devo-map .map-content .map-img {
    margin-bottom: 30px;
  }
  .devo-map .map-content .map-text {
    padding: 0;
  }
}
.devo-intro-products {
  margin-bottom: 90px;
}
.devo-intro-products .products-content {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 60px;
}
.devo-intro-products .products-content .products-text {
  flex: 1;
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}
.devo-intro-products .products-content .products-text h3 {
  margin-bottom: 30px;
}
.devo-intro-products .products-content .mySwiper {
  flex: 1;
  padding: 28px;
  width: 100%;
}
.devo-intro-products .products-content .mySwiper .swiper-slide {
  text-align: center;
}
.devo-intro-products .products-content .mySwiper .swiper-button-next,
.devo-intro-products .products-content .mySwiper .swiper-button-prev {
  color: var(--primary-color);
  padding: 22px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
}
.devo-intro-products .products-content .mySwiper .swiper-button-prev:after,
.devo-intro-products .products-content .mySwiper .swiper-button-next:after {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .devo-intro-products .products-content {
    flex-direction: column;
    padding: 20px;
  }
  .devo-intro-products .products-content .products-text {
    padding: 0;
    margin-bottom: 30px;
  }
  .devo-intro-products .products-content .mySwiper {
    padding: 0;
  }
}
.devo-notes {
  margin-bottom: 90px;
}
.devo-notes .note-card {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.devo-notes .note-card img {
  width: 100%;
}
.devo-notes .note-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-primary-color);
}
.devo-notes .note-card div h5 {
  font-weight: 600;
}
.devo-notes .note-card div span {
  margin-bottom: 30px;
}
.devo-notes .note-card div a {
  color: var(--text-secondary-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.devo-notes .note-card div a i {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.devo-notes .note-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.4s ease-in-out;
}/*# sourceMappingURL=style.css.map */